/* The CSS is jank. Please Don't judge. Well this one is fine I guess.... */

.battleZone {
    display: block;
    width: 800px;
    margin: 0 auto;
    background: #f0f0f0;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 0px;
    margin-top: 25px;
    height: 290px;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.singleResponse {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.llmOptionsForm {
    display: block;
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 250px;
}

.llmOptionsFormInner>form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

.llmOptionsFormInner>form input {
    width: 80px;
}

.llmOptionsFormInner>form label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}